
#imagen_logo > img{
    width: 120px; 
    height: 120px;
    display: inline-block;
}

.imag_secciones{
    width: 200px; 
    height: 200px;
}

#encabezado > #imagenca{
    width: 120px; 
    height: 120px;
    padding-left: 30px;
    padding-top: 30px;
}

#encabezado > #titulolog{
    margin-left: 15px;
    display: inline-block;
}

body{
    background-color: rgb(236, 236, 255);
}

header{
    background-color: rgb(37, 37, 36);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

footer{
    background-color: rgb(37, 37, 36);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

section{
    background-color: rgb(112, 112, 105);
    width: 1090px;
    margin-left: 20px;
    border-radius: 2px;
}

#segundobloque{
    background-color: rgb(37, 37, 36);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

#body{
    margin-left: 100px;
    margin-right: 100px;
    margin-top:  80px;
    margin-bottom: 80px;
}

#piedepag > #titulopiedepag{
    display: inline-block;
    margin-left: 10px;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

#piedepag > #imagpiedepag{
    width: 80px;
    height: 80px;
    padding-left: 30px;
    padding-top: 30px;
}

#piedepag > #parrafopiedepag{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 0px;
    margin-top: 0px;
}

ul{
    list-style-type: none;
}

.alinear{
    display: inline-block;
}